.image-container{
    width: 100%;
    height: 50%;
    transition: height .5s ease;
}

#news-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
.container {
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    border-bottom-right-radius: 1rem;
    border-right: clamp(.05rem,.2vw, .2rem) solid #89898e;
    border-bottom: clamp(.05rem,.2vw, .2rem) solid #89898e;
    padding: .6vw;
    cursor: pointer;
    transition: height .35s ease;
}
.dark-container{
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    overflow-y: hidden;
    padding: .5vw;
    cursor: pointer;
    transition: height .35s ease;
}

.news-par{
    width: 100%;
    color: var(--color-red);
    font-size: var(--font-size-small);
    font-weight: bold;
    padding: 0;
    margin: 0;

}
.content-par{
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
    .image-container{
        height: 40%;
    }
    .dark-container, .container{
        height: 60%;
        padding: 2vw;
    }
}

