
.trending{
    box-sizing: border-box;
    margin-top: 2.5vw;
    margin-bottom: 1.5vw;
    width: 47vw;
    height: 80vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    padding-top: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 0;
    background-color: white;

    border-top-right-radius: 1rem;
    border-top: clamp(.45rem,.6vw, 3rem) solid var(--color-red);
    border-right: clamp(.45rem,.6vw, 3rem) solid var(--color-red);
    cursor: pointer;
}
.news{
    box-sizing: border-box;
    margin-top: 2.5vw;
    margin-bottom: 1.5vw;
    width: 47vw;
    height: 80vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
}


.h-news{
    width: 95vw;
    font-weight: bold;
    font-size: clamp(2rem, 2vw, 4rem);
    color: black;
    justify-self: flex-start;
    padding: 0;
    font-family: 'Passion One', cursive;
}
.more-news{
    box-sizing: border-box;
    width: 96vw;
    margin-top: 1.5vw;
    padding-top: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-top: clamp(.45rem,.6vw, 3rem) solid var(--color-dark-blue);
    background-color: white;
    padding-bottom: 1rem;
    
}

.standings{
    width: 100vw;
    display: flex;
    margin-top: 2.5vw;
    align-items: center;
    justify-content: center;
    background-color: #d0d0d2;
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
    .trending{
        width: 96vw;
    }
    .news, .more-news{
        width: 96vw;
        height: 110vh;
    }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
    .trending{
        width: 96vw;
        height: 100vh;
    }
    .news, .more-news{
        width: 96vw;
        height: 180vh;
    }
}