.main-container{
    box-sizing: border-box;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1F1F27;
}


@media only screen and (max-width: 850px) {
    .main-container{
        height: 140vh;
        flex-direction: column;
        padding: 1vw;
    }
}