.section{
    width: 90vw;
    padding-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.feature{
    font-weight: bold;
    color: #e10600;
}
.news-heading{
    font-size: clamp(2rem, 2vw, 4rem);
    margin-bottom: 3vw;
}
.image-container{
    box-sizing: border-box;
    width: 100%;
    height: 70vh;
    border-top-style: solid;
    border-right-style: solid;
    border-top-width: 1vw;
    border-right-width: 1vw;
    border-top-color: #e10600;
    border-right-color: #e10600;
    border-top-right-radius: 2rem;
    overflow: hidden;
    margin-bottom: 3vw;
}
.image-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    padding-bottom: 3vw;
}
