.light-info{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-right: clamp(.05rem,.2vw, .2rem) solid #89898e;
    border-bottom: clamp(.05rem,.2vw, .2rem) solid #89898e;
    border-bottom-right-radius: 1rem;
    margin-top: .5vw;
    padding: 1vw;
    cursor: pointer;
    overflow: hidden;
}
.light-info:hover{
   border-bottom-color: var(--color-red);
    border-right-color: var(--color-red);
    background-color: var(--color-dark-blue);
    color: white;
}

.video-par{
    padding-top: 0;
    width: 100%;
    color: var(--color-red);
    font-size: var(--font-size-small);
    font-weight: bold;
    margin: 0;
}
.content-video-par{
    padding-top: .7vw;
    width: 100%;
    margin: 0;
    word-wrap: break-word;
    font-size: var(--font-size-medium);

}