.link {
    box-sizing: border-box;
    width: clamp(4rem, 6vw, 7rem);
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-style: solid;
    border-radius: 5px;
    margin-right: .8rem;
    text-align: center;
    color: white;
    background-color:var(--color-dark-blue);
    border-color: var(--color-dark-blue);
    font-size: clamp(.8rem, .9vw, 1.6rem)
}
.link:hover{
    background-color: white;
    border-color: white;
    color: var(--color-dark-blue);
}