.wrapper{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}
.trending-p{
    width: 100%;
    color: #e10600;
    font-size: clamp(.5rem, .8vw, 1rem);
    font-weight: bold;
    padding: 0;
    margin: 0; 
}
.trending-heading{
    width: 100%;
    word-wrap: normal;
    font-weight:bolder;
    cursor: pointer;
}
.trending-heading:hover{
    text-decoration-line:underline;
    text-decoration-color: black;
}
.image-container{
    overflow: hidden;
    width: 100%;
    height: 60%;
}

.trending-image{
    width: 100%;
    height: 100%;
    object-fit:cover;
    margin: 0;
    padding: 0;
}