.main-container{
    box-sizing: border-box;
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: #e10600;
    border-right-color: #e10600;
    border-bottom-color: #e10600;
    border-top-width: clamp(.45rem,.6vw, 3rem);
    border-right-width: clamp(.45rem,.6vw, 3rem);
    border-bottom-width: clamp(.45rem,.6vw, 3rem);
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-left: none
}

.legend{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: .5rem;
    padding-left: 0;
    padding-right: .5vw;
    padding-left: .5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.video-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.video-wrapper :nth-child(1){
    height: 80%;
}
.video-wrapper :nth-child(2){
    height: 20%;
}
.video-wrapper :nth-child(2) > :nth-child(1) {
    padding: 0;
    margin: 0;
    height: clamp(1rem, 1.5vw, 2rem);
}
.video-wrapper :nth-child(2) > :nth-child(2) {
    padding: 0;
    margin: 0;
    color: white;
}