.main-container{
    width: 100vw;
    height: 90vh;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.content-container{
    width: 50%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.drivers-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
@media only screen and (max-width: 800px) and (orientation: portrait){
    .main-container{
        height: max-content;
    }
    .content-container{
        width: 100%;
        height: 70vh;
    }
    .drivers-container{
        width: 100%;
        height: 70vh;
    }
}
@media only screen and (max-width: 1000px) and (orientation: landscape){
    .main-container{
        height: 120vh;
    }
    .content-container{
        width: 50%;
        height: 120vh;
    }
    .drivers-container{
        width:30%;
        height: 120vh;
    }
}